body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
    text-align: center;
}
 
.center img{
    width: 20%;
    margin-right: 40px;
}

.center img:last-child{
    margin-right: 0px;
}

.center{
   text-align: center;
   padding: 0px 100px;
}

h2.titulo{
    color: rgb(101, 176, 238);
    font-size: 30px;
    font-style: italic;
}

p.texto{
    color: rgb(34, 34, 179);
    font-size: 15px;
}

div.blanco{
    width: 400px;
    height: 200px;
    position: absolute;
    background-color: white;
    top: 0;
    border-radius: 20px;
}    

div.azul-cyan{
    width: 400px;
    height: 200px;
    background: linear-gradient(to right, transparent 0%, transparent 50%, cyan 50%, cyan 100% );
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    top: 0;
    border-radius: 20px;
}
    




/*  */

.grid-fotos{
    background-color: rgb(233, 229, 229);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.grid-fotos div h2{
    padding: 0px 10px;
}

.grid-fotos div{
    box-sizing: border-box;
    background-color: white;
    margin-right: 8px;
    border-radius: 4px;
    padding: 8px;
    width: 30%;
}
.grid-fotos div:last-child {
    margin-right: 0px;
}


.grid-fotos div img{
    border-radius: 4px;
    width: 100%;
}

/*  */

.franja{
    position: fixed;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.superior{
    background-color: blue;
    top: 0; 
    left: 0; 
}

.inferior {
    background-color: red;
    bottom: 0; 
    left: 0; 
}

.cuadrado{
    background-color: brown;
    width: 300px;
    height: 200px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.cuadrado div{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: beige;
    border: 4px solid brown;
}
.arriba{
    position: absolute;
    top: -20px;
}

.abajo{
    position: absolute;
    bottom: -20px;
}

.derecha {
    position: absolute;
    right: -20px;
}

.izquierda{
    position: absolute;
    left: -20px;
}

.cuadrado h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.contenedor {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.far{
   color: white;
   font-size: 60px;
}

.contenedor .contenedor-icons{
    width: 210px;
    height: 210px;
    position: relative;
}

.contenedor .icons {
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedor  .rojo{
    position: absolute;
    top: 0;
    left:0;
    background-color: red;
}

.contenedor .verde{
    position: absolute;
    top: 0;
    right:0;
    background-color: green;
}

.contenedor .negro{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
}

.contenedor .azul   {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: midnightblue;
}
.lista-iconos{
    list-style: none;
}

.lista-iconos li::before{
	font-family:"Font Awesome 5 Free";
	content:"\f35a";
	margin-right:8px;
}

.lista{
    font-size: 16px;
    color: black;
    text-align: left;
}



.campo{
position: relative;  
}

.campo .fila{
    display: flex;
    justify-items: center;
    
}

.fila div{
    height: 40px;
    width: 40px;
    background-color: gray;
    margin-right: 10px;
    margin-top: 10px;
}

.fila .mina:hover{
    background-color: red;
}

.fila div:hover{
    background-color: green;
}

.lorem{
    font-weight: 600;
}

.lorem::first-line{
    color: brown;
}

.lorem::first-letter{
    font-weight: bolder;
    font-size: 30px;
}



table.form_1 tr td label{
    color:black;
    font-weight: bold;
    padding: 2px 8px;
    line-height: 2;
    margin-left: 10px;
}


table.form_1 td input{
    width: 100%;
    padding: 4px 4px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px gray solid;
}

table.form_2 tr td{
    width: 300px;
}

table.form_2 tr td label{
    font-weight: bold;
}

table.form_2 tr td select{
    margin-bottom: 20px;
    padding: 4px 4px;
    border-radius: 4px;
    border: 1px gray solid;
}
